* {
  box-sizing: border-box;
}
.App { }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  position: relative;
  background-color: #FF4646;
  height: 80px;
  color: white;
  padding: 0 1.5rem;
}

.App-header-inner {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;

}
.App-header h2 {
  position: relative;
  margin: 0;
  top: 50%;
  transform:translateY(-50%);
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



/**
 * Event list
 */

.event-list {
  max-width: 1000px;
  margin: 2rem auto;
  font-family: "Hill";
}

  .event-list-item {
    position: relative;
    padding: 2.5rem 0;
    padding-left: 250px;
    border-bottom: 1px solid #CFCFCF;

  }
    .event-list-item-image {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    .event-list-item-title {
      margin-top: .25rem;
      margin-bottom: .5rem;
      font-size: 2rem;
      text-transform: uppercase;
    }

    .event-list-item-time {

    }

    .event-list-item-production {

    }


/**
 * Daypicker
 */

.daypicker {
  display: flex;
  /* max-width: 1000px; */
  margin: 0 auto;
  height: 80px;
 /* border-left: 1px solid lightgray;*/
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

  .daypicker-day {
    border-right: 1px solid lightgray;
    display: flex;
    width: 100px;
    flex-grow: 1;
    color: #464646;
    cursor: pointer;
  }

    .daypicker-day:first-of-type {
      background-color: #FF4646;
      color: #fff;

    }

    .daypicker-day:last-of-type {
      border-right: 0;
    }

    .daypicker-day-content {
      align-self: center;
      text-align: center;
      width: 100%;
    }

    .daypicker-day-name {
      text-transform: uppercase;
      font-family: Hill-DemiBold;
      font-size: 13px;
    }

    .daypicker-day-date {
      font-family: Hill;
      font-size: 16px;
      margin-top: .5rem;
      margin-bottom: -2px; /* Compensate for balance */
    }


/**
 * Program-filters
 */
.program-filters {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 0;
}


  .program-filter-blocks {
    margin-bottom: 2.5rem;
   }
    .program-filter-blocks:after {
      content: '';
      display: block;
      clear: both;
    }

.filter-select {
  border: 1px solid lightgray;
  padding: 1.125rem;
  padding-right: 2.5rem;
}

.filter-select select {
  display: none;
}

.program-filter-blocks .filter-select {
  float: left;
  border-right: none;
}
.program-filter-blocks .filter-select:last-of-type {
  border-right: 1px solid lightgray;
}

  .filter-select-title {
    font-family: Hill;
    font-size: 14px;
    color: #8A8A8A;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .filter-select-selected-option {
    /* 2017: */
    font-family: Hill-DemiBold;
    font-size: 26px;
    color: #FF4646;
    text-transform: uppercase;
    margin-top: .5rem;
  }

/**
 * Search-bar
 */
.search-bar {

}
  .search-bar-input {
    border: none;
    font-size: 3.125rem;
    font-family: Hill-DemiBold;
    text-transform: uppercase;
  }






